# exclude large data files
# keep county-level results since small and not automated
!data/
data/*
!data/.gitkeep
!data/results_county.parquet
!data/raw/
data/raw/*
!data/raw/.gitkeep

# ephemeral artifacts arising from project interaction
duckdb
nc*.duckdb
nc*.duckdb.wal
etl/helpers/__pycache__
venv
